*.word2vec filter=lfs diff=lfs merge=lfs -text
06_nlp_with_generative_ai/week_1/mls/glove.6B.100d.zip filter=lfs diff=lfs merge=lfs -text
02_python_foundations/additional_material/X-ray Data.zip filter=lfs diff=lfs merge=lfs -text
03_machine_learning/week_3/practice_exercise/data.csv filter=lfs diff=lfs merge=lfs -text
